Repository UOS-CSDESIGN/Epimetheus, pull requests merged in 2023-10, with the labels that each got.

#24 DEPLOY : BE - CodeDeploy 배포 자동화 설정
  backend/epimetheus/appspec.yml
  backend/epimetheus/src/scripts/start_server.sh
  backend/epimetheus/src/scripts/stop_server.sh
Labels: main merge, backend

#27 be-feat/cicdScriptRevert
  backend/epimetheus/appspec.yml
  backend/epimetheus/src/scripts/start_server.sh
  backend/epimetheus/src/scripts/stop_server.sh
Labels: bug, invalid

#29 fe-feat/SubTaskComponent/feat
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Epimetheus.png
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/LogoComponent.tsx
  frontend/src/components/SubTaskComponent.tsx
  frontend/src/components/TaskCodeViewComponent.tsx
  frontend/src/components/taskInputComponents.tsx
  frontend/src/index.css
  frontend/src/pages/consolePage.tsx
  frontend/src/styles/GlobalStyles.ts
Labels: dev merge, frontend

#36 DEPLY : FE - 기초 세팅
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Epimetheus.png
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/api/GetQuery.tsx
  frontend/src/components/LogoComponent.tsx
  frontend/src/components/SubTaskComponent.tsx
  frontend/src/components/TaskCodeViewComponent.tsx
  frontend/src/components/TaskInputComponents.tsx
  frontend/src/components/taskInputComponents.tsx
  frontend/src/index.css
  frontend/src/pages/ConsolePage.tsx
  frontend/src/pages/RegisterCodePage.tsx
  frontend/src/pages/consolePage.tsx
  frontend/src/styles/GlobalStyles.ts
Labels: main merge, frontend

#40 DEPLOY : BE - Task 요청 API 생성
  backend/epimetheus/.gitignore
  backend/epimetheus/build.gradle
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaServerStreamAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/config/WebClientConfig.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/TaskController.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/LlamaRequest.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/LlamaRequestMessage.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/LlamaResponse.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/TaskStep.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/CodeLanguage.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/ResponseStreamProperty.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/SubTaskCode.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/SubTaskDescription.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/SubTaskResolver.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/SubTaskTitle.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/SubTaskWrap.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/repository/MongoDBRepository.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/DatabaseService.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskSerivce.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
  backend/epimetheus/src/main/resources/static/prompt.txt
Labels: main merge, backend

#43 be-feat/apiMethodChange
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/TaskController.java
Labels: dev merge, backend

#44 DEPLOY : BE - TASK 요청 API 메서드 변경(->GET)
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/TaskController.java
Labels: main merge, backend
