Repository UOS-CSDESIGN/Epimetheus, pull requests merged in 2023-11, with the labels that each got.

#60 DEPLOY : FE - 프론트엔드 배포용 기능 생성 Revert
  frontend/data/cities.json
  frontend/data/streamData.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/api/GetData.tsx
  frontend/src/api/codeReg/GetCode.tsx
  frontend/src/api/codeReg/PostCode.tsx
  frontend/src/api/codeReg/codeType.ts
  frontend/src/components/CodeInputComponent.tsx
  frontend/src/components/IntroComponent.tsx
  frontend/src/components/LanguageSelectComponent.tsx
  frontend/src/components/LoadingComponent.tsx
  frontend/src/components/LogoComponent.tsx
  frontend/src/components/SubTaskComponent.tsx
  frontend/src/components/TaskCodeViewComponent.tsx
  frontend/src/components/TaskInputComponent.tsx
  frontend/src/components/TaskInputComponents.tsx
  frontend/src/pages/CodeInputPage.tsx
  frontend/src/pages/ConsolePage.tsx
  frontend/src/styles/CodeInputPage.styles.ts
  frontend/src/styles/ConsolePage.styles.ts
  frontend/src/styles/GlobalStyles.ts
  frontend/src/styles/IntroComponent.styles.ts
  frontend/src/styles/LogoComponent.styles.ts
  frontend/src/styles/SubTaskComponent.styles.ts
  frontend/src/styles/TaskCodeViewComponent.styles.ts
  frontend/tsconfig.json
Labels: revert, invalid

#61 be-refac/originModify
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/config/WebClientConfig.java
Labels: dev merge, backend

#75 DEPLOY : BE - 프롬프트 수정
  backend/epimetheus/.gitignore
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaServerStreamAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/LlamaStepResponse.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/CodeLanguage.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/llamaTasks/ResponseStreamProperty.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
  backend/epimetheus/src/main/resources/application.properties
  backend/epimetheus/src/main/resources/static/prompt.txt
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/TaskControllerTest.java
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/TaskServiceTest.java
Labels: main merge, backend

#81 DEPLOY : FE - 변수 재설정 및 에러 해결
  backend/epimetheus/.gitignore
  backend/epimetheus/build.gradle
  backend/epimetheus/gradle/wrapper/gradle-wrapper.properties
  backend/epimetheus/src/main/resources/application.properties
  frontend/data/cities.json
  frontend/data/streamData.json
  frontend/public/Epimetheus.png
  frontend/src/App.tsx
  frontend/src/StateContext.ts
  frontend/src/api/GetData.tsx
  frontend/src/api/GetQuery.tsx
  frontend/src/api/codeReg/GetCode.tsx
  frontend/src/api/codeReg/PostCode.tsx
  frontend/src/api/codeReg/codeType.ts
  frontend/src/components/CodeInputComponent.tsx
  frontend/src/components/LanguageSelectComponent.tsx
  frontend/src/components/LoadingComponent.tsx
  frontend/src/components/SubTaskComponent.tsx
  frontend/src/components/TaskCodeViewComponent.tsx
  frontend/src/index.css
  frontend/src/pages/CodeInputPage.tsx
  frontend/src/pages/ConsolePage.tsx
  frontend/src/styles/CodIenputComponent.styles.ts
  frontend/src/styles/CodeInputPage.styles.ts
  frontend/src/styles/SubTaskComponent.styles.ts
  frontend/src/styles/TaskCodeViewComponent.styles.ts
Labels: main merge, frontend

#83 fe-bugfix/languageSelectUpperChar
  frontend/src/components/LanguageSelectComponent.tsx
Labels: dev merge, frontend

#85 DEPLOY : ETC - README 소개 추가
  README.md
  frontend/print.py
  resources/architecture.png
  resources/components/Code.png
  resources/components/Code_Modification_Button.png
  resources/components/Code_Modification_Page.png
  resources/components/Conclusion.png
  resources/components/Description.png
  resources/components/Introduction.png
  resources/components/Step.png
  resources/favicon.ico
Labels: main merge

#88 be-bugfix/saveCodeBugFix
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/TaskStep.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/DatabaseService.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
Labels: dev merge, backend

#89 DEPLOY : BE - 코드 저장 API 버그 수정(벡터 삭제)
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/TaskStep.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/DatabaseService.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
Labels: main merge, backend
