Repository UOS-CSDESIGN/Epimetheus, pull requests merged in 2023-12, with the labels that each got.

#113 DEPLOY : BE - 코드 유효성 검사 로직 추가
  backend/epimetheus/.gitignore
  backend/epimetheus/scripts/start_server.sh
  backend/epimetheus/scripts/stop_server.sh
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/EpimetheusApplication.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/CodeValidationResponse.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaServerStreamAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/TaskController.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/dtos/LlamaStepResponse.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskExecuteService.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskExecuteServiceImpl.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/DBServiceTest.java
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/TaskControllerTest.java
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/TaskServiceTest.java
Labels: main merge, backend

#114 DEPLOY : BE - REBASE시 발생한 버그 수정
  backend/epimetheus/src/test/java/uos/capstone/epimetheus/generatetask/TaskServiceTest.java
Labels: main merge, backend

#116 fe-feat/postcode onmessage
  frontend/src/api/codeReg/PostCode.tsx
Labels: dev merge, frontend

#118 be-feat/exceptionHandle
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/ExceptionHandleController.java
Labels: dev merge, backend

#119 DEPLOY : BE - Runtime 예외처리
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/controller/ExceptionHandleController.java
Labels: main merge, backend

#127 DEPLOY : FE - onmessage 시발
  frontend/src/api/codeReg/PostCode.tsx
  frontend/src/api/worker/codeExec.ts
Labels: main merge, frontend

#128 be-refac/promptModify
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaServerStreamAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/resources/static/CodePrompt.txt
Labels: dev merge, backend

#129 DEPLOY : BE - 코드 생성 프롬프트 수정
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/adapter/LlamaServerStreamAdapter.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/resources/static/CodePrompt.txt
Labels: main merge, backend

#132 DEPLOY : FE - 코드 길이에 따라 TaskCodeViewComponent의 높이 변화
  frontend/src/components/TaskCodeViewComponent.tsx
  frontend/src/styles/TaskCodeViewComponent.styles.ts
Labels: main merge, frontend

#136 fe-etc/CodeEditPageFix
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CodeEditPage.tsx
  frontend/src/styles/CodeEditPage.styles.ts
  frontend/src/styles/CodeInputPage.styles.ts
Labels: dev merge, frontend

#137 DEPLOY : FE - CodeEditPage Style Fix
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/CodeEditPage.tsx
  frontend/src/styles/CodeEditPage.styles.ts
  frontend/src/styles/CodeInputPage.styles.ts
Labels: main merge, frontend

#141 DEPLOY : BE - 코드 유효성 검사 삭제 등
  backend/epimetheus/scripts/start_server.sh
  backend/epimetheus/scripts/stop_server.sh
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/CosineSimilarityService.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/MongoDBServiceImpl.java
  backend/epimetheus/src/main/java/uos/capstone/epimetheus/service/TaskServiceStreamImpl.java
  backend/epimetheus/src/main/resources/static/CodePrompt.txt
Labels: main merge, backend
